img { border-radius: 1000px;
width: 300px;
;}
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 5px #ccc;
  }
  
  .navbar-brand {
    color: #000;
    font-size: 2em;
    font-weight: bold;
  }
  
  .navbar-nav li a {
    color: #777;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
  }
  
  .navbar-nav li a:hover {
    color: #000;
    background-color: #e6e6e6;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #ccc;
    margin-top: 20px;
    padding: 20px;
  }
  
  .question {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .answer {
    margin-top: 10px;
  }
  body {
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
  }
